/*svg*/
#ss {
  -webkit-animation: ss 1s linear;
  animation: ss 1s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  /*transform: matrix(1, 0, 0, 1, 235.42, 159.314);*/
}

@-webkit-keyframes ss {
  0% {
    /*transform:translate(20px);*/
    -webkit-transform: matrix(0.1, 0, 0, 0.1, 920, 420);
    transform: matrix(0.1, 0, 0, 0.1, 920, 420);
    /*transform: translate3d(30px, 30px, 200px);*/
  }
}

@keyframes ss {
  0% {
    /*transform:translate(20px);*/
    -webkit-transform: matrix(0.1, 0, 0, 0.1, 920, 420);
    transform: matrix(0.1, 0, 0, 0.1, 920, 420);
    /*transform: translate3d(30px, 30px, 200px);*/
  }
}

.sliding-menu {
  position: absolute;
  left: 0;
  top: 0;
}

svg {
  -webkit-animation: svga 2s linear;
  animation: svga 2s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes svga {
  0% {
    -webkit-transform: matrix(0.001, 0, 0, 0.001, 0, 0);
    transform: matrix(0.001, 0, 0, 0.001, 0, 0);
  }
  100% {
    /*transform: matrix(0.8,0,0,0.8,-10,-50);*/
  }
}

@keyframes svga {
  0% {
    -webkit-transform: matrix(0.001, 0, 0, 0.001, 0, 0);
    transform: matrix(0.001, 0, 0, 0.001, 0, 0);
  }
  100% {
    /*transform: matrix(0.8,0,0,0.8,-10,-50);*/
  }
}

/*path,
#path,
ellipse,
line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 2s linear;
  animation: dash 2s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 和 Chrome */

/*}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
*/

/*新的开始*/

section.hero {
  position: relative;
  overflow: hidden;
  height: 80vh;
  width: 100%;
  display: table;
  padding: 0;
}

section.hero:before {
  content: "";
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 25em) {
  .section,
  section {
    padding: 40px 0 40px;
    /*padding: 0;*/
  }
}

@media (min-width: 48.75em) {
  section.hero {
    height: 100vh;
    min-height: 100vh;
  }
}

section.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  width: auto;
  height: auto;
  z-index: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* 设置滚动条的样式 */

/* ::-webkit-scrollbar {
  width: 0px;
} */

/* 滚动槽 */

/*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
}
*/

/* 滚动条滑块 */

/* ::-webkit-scrollbar-thumb {
  /* border-radius: 10px; 

background: rgba(0, 0, 0, 0.1);
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);

}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0);
}
*/
/*logo*/
.logo {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
}

.logo h1 {
  padding: 0 15px;
  color: white;
  line-height: 15vh;
  text-align: center;
  margin-top: 30vh;
  font-weight: 100;
  font-size: 2.5rem;
}

@media (max-width: 750px) {
  .logo h1 {
    font-size: 1.5rem;
  }
}

.logo img {
  width: 50px;
  position: absolute;
  left: 15px;
  top: 15px;
}

/*page-nav*/
.page-nav {
  opacity: 1;
  /*transition: all .3s linear;*/
  position: absolute;
  bottom: 5vh;
  width: 100%;
  z-index: 5;
}

@media (max-width: 750px) {
  .page-nav {
    display: none;
    opacity: 0;
  }
}

.page-nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 15px 0;
  /*transition: all .3s linear;*/
}

.page-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-nav ul li {
  margin: 0 5%;
  position: relative;
}

.page-nav ul li:before, .page-nav ul li.animate-in:before {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  content: "";
  width: 0;
  height: 2px;
  border-bottom: 2px solid white;
  position: absolute;
  bottom: 0;
  left: -5%;
}

.page-nav ul li:hover:before, .page-nav ul li.animate-in:before {
  width: 110%;
}

.page-nav img {
  width: 0;
  height: 0;
}

.page-nav .animation-top a {
  user-select: none;
  padding: 15px 0;
}

.page-nav a {
  text-decoration: none;
  font-size: 13px;
  color: white;
}

/*滚动条触发*/
.page-nav.top {
  /*transition: all .3s linear;*/
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
}

.page-nav.top .container {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  background-color: #393f51;
  padding: 10px 1vw;
}

.page-nav.top .container ul {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.page-nav.top .container ul li {
  /*transition: all .3s linear;*/
}

.page-nav.top img {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  /*animation:  all 2s linear;*/
  width: 25px;
  margin-left: 10vw;
  height: auto;
  z-index: 8;
}

/*page-container*/
.page-container {
  color: #979797;
}

.page-container div {
  line-height: 40px;
  /*padding-left: 15px;*/
}

section {
}

section .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

section .container .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

section .container .title strong,section .container .title strong.animate-in {
  position: relative;
  padding-left: 15px;
  display: inline-block;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all .7s ease .2s;
  opacity: 0;
  margin-right: 85px;
}

section .container .title strong:before,section .container .title strong.animate-in:before {
  content: '';
  display: block;
  left: 40px;
  top: 50%;
  width: 0;
  -webkit-transition: all .7s ease .2s;
  transition: all .7s ease .2s;
  border-bottom: 2px solid white;
  position: absolute;
}

section .container .title strong.animate-in {
  opacity: 1;
}

section .container .title strong.animate-in:before {
  width: 60px;
}

section .container .title h1 {
  color: white;
}

section .container .row-content {
  width: 100%;
  height: 100vh;
  margin-bottom: -70px;
  background-color: rgba(67, 84, 119, 0.7);
}

/*debug*/
#cLog {
  position: fixed;
  left: 15%;
  background-color: #888888;
  z-index: 999;
  top: 15%;
  display: none;
}

/*返回顶部*/
.page-top {
  position: fixed;
  z-index: 999;
  bottom: 15vh;
  right: 5vw;
  transition: all 1s ease;
}

@media (max-width: 750px) {
  .page-top {
    display: none;
    height: 0;
    opacity: 1;
    transition: all 1s ease;
  }
}

.page-top a {
  width: 50px;
  text-decoration: none;
  color: white;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: block;
  position: relative;
}

.page-top a:before {
  content: '>';
  position: absolute;
  font-size: 28px;
  font-weight: 900;
  width: 35px;
  height: auto;
  right: 0;
  left: 5px;
  text-align: center;
  top: calc(-70% - 15px);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}